
/* 

    You can write your own styles here...
    
    
    ...Or you can use the import command to include 
    other sylesheets into your bunde as well, e.j:
    
    import 'relative/path/to/stylesheet.scss';

*/


body {
    margin:0;
    padding-top:70px;
}

#navbar-container {
    padding-left: 5%;
    padding-right: 5%;
    background-color: #393f47;
   
}
.navbar-brand {
    padding-left: 15px;
}

.navbar-nav {
    padding-right: 11px;
    
}

.nav-link {
    color: white;
    font-size: 1.2rem;
}

.nav-link:hover{
    color:#e8c16f;
}


.jumbotron {
    display: flex;
    height: 400px;
    padding-left: 2%;
    margin-bottom: 2%;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    color:white;
    margin-top: 40px;
    mask-image: -moz-linear-gradient(rgba(0, 0, 0, .75));
}

#be-wild {
    color: #393f47;
    font-size: 5rem;
}

#stay-healthy {
    color: #f6f4f0;
    font-size: 4rem;
}

.card-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
    margin-bottom: 2%;
}


.card-title {
text-align: center;
}

.card-text {
 text-align: center;
}
.card-footer {
    display:flex;
    justify-content: center;
}

.btn-footer, .btn-jumbo {
    background-color: #e8c16f;
}

.btn-footer:hover, .btn-jumbo:hover{
    background-color: #393f47;
}
.btn-footer:active, .btn-footer:hover {
    color:white;
}

.btn-footer:active, .btn-jumbo:active{
    background-color: #e5b03e;
}

@media (max-width: 500px) {
    .card-container {
      grid-template-columns: repeat(1, 1fr);
    }
}

@media screen and (min-width: 500px) and (max-width: 800px){
    .card-container {
        grid-template-columns: repeat(2, 1fr);
    }
}

  .footer {
    color: white;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    background-color: #393f47;
  }
